@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
  --rose-50: #FFF7FB;
  --rose-800: #7A284E;
  --stone-100: #F3E5D7;
  --stone-150: #E3DDD7;
  --stone-600: #5F564D;
  --stone-900: #312E2C;
  --brown-800: #854632;
  --white: #FFFFFF;

  background-color: var(--stone-100);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  font-family: 'Outfit', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.font-young {
  font-family: 'Young Serif', serif;
}

h2 {
  font-size: 1.75rem
}

h3 {
  font-size: 1.25rem
}

.color-brown-800 {
  color: var(--brown-800);
}

.color-rose-800 {
  color: var(--rose-800);
}

.color-stone-900 {
  color: var(--stone-900);
}

.color-stone-600 {
  color: var(--stone-600);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    padding: 0 2rem;
  }
}

li {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

li::marker  {
  color: var(--rose-800);
  font-weight: bold;
}
