on:
  push:
    branches:
    - main
    - create-deploy-script
jobs:
  deploy:
    name: Deploy github page
    runs-on: ubuntu-22.04
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: deploy
        run: |
          #!/usr/bin/env sh
          ./bin/deploy.sh
