on:
  push:
    branches:
    - main
    - create-deploy-script
jobs:
  deploy:
    name: Deploy github page
    runs-on: ubuntu-22.04
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4
        with:
          ref: main
          path: main
      - name: Checkout gh-pages branch
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages
      - name: deploy
        run: |
          #!/usr/bin/env sh
          ./bin/deploy.sh
