on:
  push:
    branches:
    - main
jobs:
  deploy:
    name: Deploy github page
    runs-on: ubuntu-22.04
    steps:
    - name: npm install, build and test
      run: |
        #!/usr/bin/env sh
        set -e
        
        npm run build
        cd dist
        
        git init
        git add -A
        git commit -m 'deploy'
        
        git push git@github.com:marianafantini/recipe-page-vuejs.git main:gh-pages
        
        cd -
