on:
  push:
    branches:
    - main
    - create-deploy-script
jobs:
  deploy:
    name: Deploy github page
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
      - name: deploy
        run: |
          #!/usr/bin/env sh
          ls -la
          ls ../bin